<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-utf-8">
        <meta name="author" content="cfv1000" />
        <meta name="keywords" content="free,kill,awesome,fun,game,muonline,gamenation" />
        <meta name="description" content="Gamenation 2012-2014" />
        {#% image "@cfvMuWebBundle/Resources/public/images/favicon.ico" %}
            <link rel="shortcut icon" href="{{ asset_url }}" />
        {% endimage %#}
        <title>{% block title %} Server MuOnline - GameNation.ro {% endblock %}</title>

        {% block css %}
            {% stylesheets 
                "@cfvMuWebBundle/Resources/public/css/main.css"
            %}
            <link rel="stylesheet" href="{{ asset_url  }}" type="text/css" cache="false" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div style="padding-top: 352px;">
            <table id="main" cellpadding="0" cellspacing="0">
                <tr>
                    <td id="decoration"></td>
                </tr>
                <tr>
                    <td id="content">
                        <table style="margin: auto;">
                            <tr>
                                <td id="smallContent">
                                    <div style="height: 5px;"></div>										
                                    <div class="title">Utile:</div>
                                    <ul>
                                        <li><a href="{{ url('muweb_home') }}" title="">Despre MuGamenation!</a></li>
                                        <li><a href="{{ url('muweb_downloads') }}" title="">Descarcari</a></li>
                                        <li><a href="{{ url('muweb_ranking') }}" title="">Clasament</a></li>
                                        <li><a href="{{ url('muweb_guilds') }}" title="">Clasament guilds</a></li>
                                        <li><a href="{{ url('muweb_donations') }}" title="">Donatii</a></li>
                                        <li><a href="{{ url('muweb_rules') }}" title="">Regulament</a></li>
                                        <li><a href="{{ url('muweb_forum') }}" title="">Forum</a></li>
                                    </ul>
                                    <div class="title">Cont:</div>
                                    <ul>
                                        {% if app.user %}
                                            <li><a href="{{ url('muweb_profile') }}" title="">Caracterele mele</a></li>
                                            <li><a href="{{ url('muweb_changepassword') }}" title="">Schimba parola</a></li>
                                            <li><a href="{{ url('muweb_logout') }}" title="">Logout</a></li>
                                        {% else %}
                                            <li><a href="{{ url('muweb_login') }}" title="">Autentificare</a></li>
                                            <li><a href="{{ url('muweb_register') }}" title="">Inregistrare cont!</a></li>
                                            <li><a href="{{ url('muweb_forgot') }}" title="">Parola uitata</a></li>
                                        {% endif %}
                                    </ul>
                                    {% if app.environment == "prod" %}
                                        <div class="title">Status server</div>
                                        {{ render(controller('cfvMuWebBundle:Status:status')) }}
                                    {% endif %}
                                </td>
                                <td></td>
                                <td id="bigContent">{% block content %}{% endblock %}</td>
                            <tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        {% block javascript %}
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript">
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

            {% javascripts '@cfvMuWebBundle/Resources/public/js/main.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
