A:link {
    font-size : 10px;
    color : #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : none;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}
A:visited {
    font-size : 10px;
    color : #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : none;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}
A:active {
    font-size : 10px;
    color : #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : none;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}
A:hover {
    font-size : 10px;
    color : #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : underline;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}



.menu_link A:link {
    font-size : 12px;
    color : #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : none;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}
.menu_link A:visited {
    font-size : 12px;
    color : #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : none;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}
.menu_link A:active {
    font-size : 12px;
    color : #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : none;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}
.menu_link A:hover {
    font-size : 12px;
    color : #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : underline;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}

.news_link A:link {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : none;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}
.news_link A:visited {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : none;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}
.news_link A:active {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : none;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}
.news_link A:hover {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration : underline;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}


.text_server {
    font-size : 10px;
    color : #938463;
    font-variant: small-caps;
    font-weight: bold;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}


.text_news {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}

.text {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}


.normal_text {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}


.text_result {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-weight: bold;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}



.text_normal_red {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-weight: bold;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}


.text_normal_white {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}


.text_news_autor {
    font-size : 11px;
    color : #938463;
    font-variant: small-caps;
    font-weight: bold;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
}


hr {
    border: 1px dashed #938463;
}



.fields {
    border: 1px solid #938463;
    background-color: #BAAF98;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-variant: small-caps;
    font-weight: bold;
    color: #000000;}


.textfields, input,textarea,select,option{
    border: 1px solid #938463;
    background-color: #FFFFFF;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;
}


.field_time {
    border : 0px solid #110F10;
    background-color : #110F10;
    font-family:Verdana,Helvetica,sans-serif;font-size:12px;font-weight: bold;color:#FF0000;}



.text_administrator {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 11px;
    color : #000000;
}



.dynamic-tab-pane-control.tab-pane {
    position : relative;
    width : 100%;
}
.dynamic-tab-pane-control .tab-row .tab {
    font : Menu;
    cursor : default;
    display : inline;
    margin : 1px -1px 1px 2px;
    float : left;
    padding : 2px 5px 3px;
    background : #ffffff;
    border : 0;
    border-bottom : 0;
    z-index : 1;
    white-space : nowrap;
    position : relative;
    top : 0;
}
.dynamic-tab-pane-control .tab-row .tab.selected {
    background : #eeeedd !important;
    border : 1px solid #000000;
    border-bottom : 0;
    z-index : 3;
    padding : 2px 6px 4px;
    margin : 1px -3px -3px 0;
    top : -2px;
}
.dynamic-tab-pane-control .tab-row .tab a {
    font : Menu;
    color : WindowText;
    text-decoration : none;
    cursor : default;
}
.dynamic-tab-pane-control .tab-row .tab.hover {
    background : #eeeedd;
}
.dynamic-tab-pane-control .tab-page {
    clear : both;
    border : 1px solid #000000;
    background : #eeeedd;
    z-index : 2;
    position : relative;
    top : -2px;
    color : WindowText;
    font : Message-Box;
    padding : 10px;
}
.dynamic-tab-pane-control .tab-row {
    z-index : 1;
    white-space : nowrap;
}

.sort-table {
    font : Icon;
    border : 1px solid ThreeDShadow;
    background : Window;
    color : WindowText;
}

.sort-table thead {
    background : #FFAA55;
}
.sort-table td {
    padding : 2px 5px;
}
.sort-table thead td {
    border : 1px solid;
    border-color : ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    cursor : default;
}
.sort-table thead td:active {
    border-color : ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
    padding : 3px 4px 1px 6px;
}
.sort-table thead td[_sorttype="None"]:active {
    border-color : ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    padding : 2px 5px;
}
.sort-arrow {
    width : 11px;
    height : 11px;
    background-position : center center;
    background-repeat : no-repeat;
    margin : 0 2px;
}
.sort-arrow.descending {
    background-image : url("downsimple.png");
}
.sort-arrow.ascending {
    background-image : url("upsimple.png");
}