{% extends "cfvMuWebBundle::wrapper.html.twig" %}

{% block content %}
    <div class="title">News and info</div>
    <div>
    <p class="style2"> BETA! </p>
    This website is in BETA for now. We are working on development. For any bug report contact us on <a href="{{ url('muweb_forum') }}">forum</a> or directly e-mail 
    <a href="mailto:cfv1000@gmail.com?subject=Bug report"> website development guys </a>
    </div>
{% endblock %}
