<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Hello {{ username }} </h1>
            Recover password <a href="{{ url('muweb_recover_recover', {'token': token}) }}">here</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>