{% extends 'cfvMuWebBundle::wrapper.html.twig' %}
{% block title %} Cautare - Gamenation {% endblock %}
{% block content %}

    <br/>
    <div class="tmp_page_content">
       
        {% if table %}
             <div  class="title">Rezultatele cautarii</div>
             {{ table|raw }}
        {% endif %}

        {% if errors and errors.count %} 
            <div class='title'>Remediati erorile de mai jos </div>
            <div class='msg_error'>
                {% for error in errors %}
                    {{ error.message }} <br/>
                {% endfor %} 
            </div>
        {% endif %}

        {{ form_start(form, {'action': url('muweb_ranking')}) }}

        <div class="title">{{ form_label(form.keywords) }}</div>
        <p>
            {{ form_widget(form.keywords, {'attr': {'style': 'width: 562px'}}) }}
        </p>

        <div class="title">Clasa caracter:</div>
        <div>   
            <div class="left w95">
                {% for choice in form.classes %} 
                    {% if not loop.first and choice.vars['value'] in [0,16,32,48,64,80,96] %}
                    </div>
                    <div class="left w95">
                        {% if choice.vars['value'] in [48,64] %}<p style="text-align: center;"> - </p>{% endif %}
                    {% endif %}

                    <p>{{ form_widget(choice, {'attr': {'class': 'buttons'}}) }} {{ form_label(choice) }}</p>

                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="title">Captcha (text de securitate): <a href="#reload-captcha" rel="nofollow"><img style="vertical-align:middle" src="{{ url('muweb_captcha') }}"></a></div>
        <p> 
            {{ form_widget(form.captcha, {'attr': {'style': 'width: 562px'}}) }}
        </p>
        <div style="text-align: right">
            {{ form_widget(form.submit, {'attr': {'class': 'button'}}) }}
        </div>
        {{ form_end(form) }}       
    </div>   
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    {% javascripts '@cfvMuWebBundle/Resources/public/js/captcha.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}