{% extends 'cfvMuWebBundle::wrapper.html.twig' %}
{% block title %} Caracterele mele - Gamenation {% endblock %}
{% block content %}

    <br/>
    <div class="tmp_page_content">
       
        {% if table %}
             <div  class="title">Caracterele mele</div>
             {{ table|raw }}
        {% endif %}


          
    </div>   
{% endblock %}