{# @cfvMuWebBundle/Resources/views/Character/table.html.twig #}
<table width="100%" cellspacing=3 id="characters">
    <tr bgcolor='#1e120e'>
        <td style="text-align: center;width: 20px;">#</td>
        <td>Name</td>
        {# <td>Class</td> #}
        <td style="text-align: center; width: 65px;">Reset / Level</td>
        <td style="text-align: center; width: 100px;">Class</td>
        <td style="text-align: center; width: 55px;">Strength</td>
        <td style="text-align: center; width: 40px;">Agility</td>
        <td style="text-align: center; width: 55px;">Vitality</td>
        <td style="text-align: center; width: 55px;">Energy</td>
        <td style="text-align: center; width: 55px;">Command</td>
    </tr>

    {% if sql %}
        {% for i in sql %}
            <tr bgcolor='#140b07'>
                <td style="text-align: center;">{% if pagination is defined %}{{ loop.index0 + pagination.first }}{% else %}{{ loop.index }}{% endif %}</td>
                <td>{{ i.name }}</td>
                <td style="text-align: center; ">{{ i.resets ~ " / " ~ i.level}} </td>
                <td style="text-align: center; ">{{ names[i.class] }} </td>
                <td style="text-align: center; ">{{ i.strength }} </td>
                <td style="text-align: center; ">{{ i.agility }} </td>
                <td style="text-align: center; ">{{ i.vitality }} </td>
                <td style="text-align: center; ">{{ i.energy }} </td>
                <td style="text-align: center; ">{% if i.class in [64,65,66] %}{{ i.command }} {% else %} - {% endif %} </td>            
            </tr>
        {% endfor %}

        {% if pagination is defined and pagination.pages > 1 %}
            <tfoot class="pagination">
                <tr>
                    <td colspan="9">
                        {% if pagination.start > 0  %}
                            <a href="{{ url( 'muweb_ranking' ) }}">&laquo;</a>
                            <a href="{{ url( 'muweb_ranking', query|merge({ 'page': pagination.start-1 }) ) }}">&lt;</a>
                        {% endif %}
                        {% for x in pagination.firstPage .. pagination.lastPage-1 %}

                            {% if x == 0 %}
                                <a href="{{ url( 'muweb_ranking' ) }}">{{ x+1 }}</a>
                            {% else %}
                                <a href="{{ url( 'muweb_ranking', query|merge({ 'page': x }) ) }}">{{ x+1 }}</a>
                            {% endif %}                            
                        {% endfor %}

                        {% if pagination.start < pagination.pages-1  %}

                            <a href="{{ url( 'muweb_ranking', query|merge({'page': pagination.start+1 }) ) }}"> &gt; </a>
                            <a href="{{ url( 'muweb_ranking', query|merge({'page': pagination.pages-1 }) ) }}">&raquo;</a>
                        {% endif %}
                    </td>
                </tr>
            </tfoot>
        {% endif %}
    {% else %} 

        <tr bgcolor='#140b07'>
            <td colspan="9">
                <div style="padding: 150px 0; text-align: center; font-size: 14px;">No characters to list yet</div>
            </td>
        </tr>
    {% endif %}
</table>
{% if at is defined and next is defined %}
<!-- This page list was generated {{ at }} and it will be refreshed {{ next }}! -->
{% endif %}
