{% extends 'cfvMuWebBundle::wrapper.html.twig' %}

{% block title %} Schimba parola - GameNation.ro {% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    &gt;
    <a href="{{ url('muweb_register') }}" rel="nofollow">Schimba parola</a>
{% endblock %}

{% block content %}
    <div class="title">Schimba parola</div>
    <div class="tmp_page_content">

        {{ form_start(form, {'action': '', 'attr': {'class': 'form-horizontal'}}) }}

        <table border="0" cellspacing="10" cellpadding="0" width="100%" style="margin-top: 10px;" align="center">

            {% if not errors is empty %}
                <tr>
                    <td colspan="3" align="left" class="iRg_line">Fix the following errors:</td>
                </tr>
                <tr>
                    <td colspan="3" align="left" class="msg_error" style="background-position: 10px 5px;">
                        {% for error in errors %} {{ error.message }} <br/> {% endfor %}
                    </td>
                </tr>
            {% elseif app.session.flashbag.has('result') %}
                <tr>
                    <td colspan="3" align="left" class="msg_success" style="background-position: 10px 5px;">
                        {% for flashMessage in app.session.flashbag.get('result') %}{{ flashMessage }}{% endfor %}
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td colspan="3" align="left" class="iRg_line">Provide your desired login info:</td>
            </tr>

            <tr>
                <td  class="iRg_text" style="padding-left: 24px;" width="130">{{ form_label(form.oldPassword) }}</td>
                <td align="left" class="iRg_inf">
                    {{ form_widget(form.oldPassword, {'required':0, 'attr': {'style': 'width: 365px;'}} ) }}
                </td>
                <td></td>
            </tr>

            <tr>
                <td  class="iRg_text" style="padding-left: 24px;" width="130">{{ form_label(form.new_password.first) }}</td>
                <td align="left" class="iRg_inf">
                    {{ form_widget(form.new_password.first, {'required':0, 'attr': {'style': 'width: 365px;'}}) }}
                </td>
                <td></td>
            </tr>

            <tr>
                <td  class="iRg_text" style="padding-left: 24px;" width="130">{{ form_label(form.new_password.second) }}</td>
                <td align="left" class="iRg_inf">
                    {{ form_widget(form.new_password.second, {'required':0, 'attr': {'style': 'width: 365px;'}}) }}
                </td>
                <td></td>
            </tr>

            <tr>
                <td  class="iRg_text" style="padding-left: 24px;" width="130">{{ form_label(form.captcha) }} 
                    <a href="#reload-captcha" rel="nofollow"><img style="vertical-align:middle" src="{{ url('muweb_captcha') }}"></a>
                </td>
                <td align="left" class="iRg_inf">
                    {{ form_widget(form.captcha, {'required':0, 'attr': {'style': 'width: 365px;'}}) }}
                </td>
                <td></td>
            </tr>

            <tr>
                <td colspan='2' style='text-align:center;'>
                    {{ form_widget(form.submit, {'attr': {'class': 'button'}} ) }}                  
                </td>
            </tr>
        </table>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div> 
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@cfvMuWebBundle/Resources/public/js/captcha.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}