{# src/cfv/MuwebBundle/Resources/views/Account/login.html.twig #}
{% extends 'cfvMuWebBundle::wrapper.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    &gt;
    <a href="{{ url('muweb_register') }}" rel="nofollow">Login</a>
{% endblock %}

{% block content %}
    <div class="title">Login</div>
    <div class="tmp_page_content">
        <form action="{{ path('muweb_login_check') }}" method="POST">
            <table border="0" cellspacing="10" cellpadding="0" width="100%" style="margin-top: 10px;" align="center">
                {% if error %}
                    <tr>
                        <td colspan="3" align="left" class="iRg_line">Fix the following errors:</td>
                    </tr>
                    <tr>
                        <td colspan="3" align="left" class="msg_error" style="background-position: 10px 5px;">
                            {% if error %}
                                <div>{{ error.message }}</div>
                            {% endif %}
                        </td>
                    </tr>   
                {% elseif app.session.flashbag.has('result') %}
                    <tr>
                        <td colspan="3" align="left" class="msg_success" style="background-position: 10px 5px;">
                            {% for flashMessage in app.session.flashbag.get('result') %}
                                {{ flashMessage }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td colspan="3" align="left" class="iRg_line">Provide your desired login info:</td>
                </tr>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <tr>
                    <td  class="iRg_text" style="padding-left: 24px;" width="130">Username</td>
                    <td align="left" class="iRg_inf">
                        <input type="text" name="_username" placeholder='Enter your username' class='buttons' />
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td  class="iRg_text" style="padding-left: 24px;" width="130">Password</td>
                    <td align="left" class="iRg_inf">
                        <input type="password" name="_password" placeholder='Enter your password' class='buttons' />
                    </td>
                    <td></td>
                </tr>
            </table>

            <table border="0" cellspacing="10" cellpadding="0" width="100%"  align="center">

                <tr>
                    <td align="right">
                        <input type="submit" value="Login" class="button" />
                    </td>
                    <td align="left">
                        <input type="reset" value="Reset form" class="button" />
                    </td>
                </tr>
            </table>

        </form>
    </div> 

{% endblock %}
{% block javascript %}
    {{ parent() }}
    
    {% javascripts '@cfvMuWebBundle/Resources/public/js/captcha.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}