{% extends 'cfvMuWebBundle::wrapper.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    &gt;
    <a href="{{ url('muweb_register') }}" rel="nofollow">Register</a>
{% endblock %}
{% block content %}
    <div class="title">Register</div>
    <div class="tmp_page_content">

        {{ form_start(form, {'action': '', 'attr': {'class': 'form-horizontal'}}) }}

        <table border="0" cellspacing="10" cellpadding="0" width="100%" style="margin-top: 10px;" align="center">

            {% if not errors is empty %}
                <tr>
                    <td colspan="3" align="left" class="iRg_line">Fix the following errors:</td>
                </tr>
                <tr>
                    <td colspan="3" align="left" class="msg_error" style="background-position: 10px 5px;">
                        {% for error in errors %} {{ error.message }} <br/> {% endfor %}
                    </td>
                </tr>
            {% elseif app.session.flashbag.has('result') %}
                <tr>
                    <td colspan="3" align="left" class="msg_success" style="background-position: 10px 5px;">
                        {% for flashMessage in app.session.flashbag.get('result') %}
                            {{ flashMessage }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td colspan="3" align="left" class="iRg_line">Provide your desired login info:</td>
            </tr>
            {% for item in form %}
                {% if item.vars.name == '_token'%}
                    {{ form_widget(item) }}
                {% elseif item.vars.name == 'password' %}

                    <tr>
                        <td  class="iRg_text" style="padding-left: 24px;" width="130">{{ form_label(item.first) }}</td>
                        <td align="left" class="iRg_inf">
                            {{ form_widget(item.first, {'required':0}) }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td  class="iRg_text" style="padding-left: 24px;" width="130">{{ form_label(item.second) }}</td>
                        <td align="left" class="iRg_inf">
                            {{ form_widget(item.second, {'required':0}) }}
                        </td>
                        <td></td>
                    </tr>
                {% elseif item.vars.name == 'terms' %}
                    <tr>
                        <td align="center" colspan="3" class="iRg_terms_agree">
                            <br/>
                            <label>{{ form_widget(item, {'required': 0, 'attr': {'class': 'buttons'}} ) }} I have read and agree to the</label> 
                            <a href="{{ url('muweb_rules') }}" target="_blank">rules</a>.
                        </td>
                    </tr>
                {% elseif item.vars.name == 'captcha' %}
                    <tr>
                        <td  class="iRg_text" style="padding-left: 24px;" width="130">{{ form_label(item) }} 
                            <a href="#reload-captcha" rel="nofollow"><img style="vertical-align:middle" src="{{ url('muweb_captcha') }}"></a>
                        </td>
                        <td align="left" class="iRg_inf">
                            {{ form_widget(item, {'required':0}) }}
                        </td>
                        <td></td>
                    </tr>
                {% else %}
                    <tr>
                        <td align="left" class="iRg_text" style="padding-left: 24px;" width="130">{{ form_label(item) }}</td>
                        <td align="left" class="iRg_inf">{{ form_widget(item, {'required': 0}) }}</td>
                        <td align="left" >
                            {#% if item.vars.name == "username" %}
                                <span class="iRg_inf"><div id="c_uss">4-10 characters, letters/numbers only</div></span>
                            {% elseif item.vars.name == "email" %}
                                <span class="iRg_inf"><div id="c_uss">Valid e-mail address</div></span>
                            {% elseif item.vars.name == "confirm_password" %}
                                <span class="iRg_inf"><div id="c_uss">Confirm given password</div></span>
                            {% endif %#}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <table border="0" cellspacing="10" cellpadding="0" width="100%"  align="center">

            <tr>
                <td align="right">
                    <input type="submit" value="Register" class="button" />
                </td>
                <td align="left">
                    <input type="reset" value="Reset form" class="button" />
                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </div> 
{% endblock %}
{% block javascript %}
    {{ parent() }}    
    
    {% javascripts '@cfvMuWebBundle/Resources/public/js/captcha.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}