<ul>
    {% for i in servers %}
        {% if i['status'] %}
            <li class="active">{{ i['name'] }}</li>
            {% else %}
            <li class="inactive">{{ i['name'] }}</li>
            {% endif %}
        {% endfor %}
</ul>