body
{
    background-color: #000000;
}
body,td,input
{
    margin: 0px;
    vertical-align: top;
    font-family: Arial;
    font-size: 11px;
    color: #9d7e7e;
}
table
{
    border: 0px;
}
img
{
    border: 0px;
}
li
{
    list-style-image: url('images/template/listDot.png');
    //background-image: url('images/template/line2.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    margin-left: -20px;
}
a
{
    text-decoration: none;
    color: #877d7d;
}
fieldset
{
    -moz-border-radius: 4px;
    border: 2px solid #000000;
    background-image: url('images/bg.png');
}
legend
{
    -moz-border-radius: 4px;
    border: 0px solid #422810;
    background-image: url('images/bg.png');
}
.copyrights
{
    color: #ffcc99;
}
.floatleft
{
    float: left;
}
.floatright
{
    float: right;
}
.announces
{
    //-moz-border-radius: 4px;
    background-color: #140b07;
    border-bottom: 1px solid #422810;
    padding: 5px;
}
.title, .statsMain
{
    //-moz-border-radius: 4px;
    background-color: #140b07;
    border: 1px solid #290e07;
    padding: 2px 10px 2px 10px;
    color: #8b7272;
}
.statsMain, .statsSub
{
    vertical-align: middle;
    text-align: center;
}
.bigger
{
    //-moz-border-radius: 4px;
    color: #b98080;
    font-weight: bold;
    margin: 5px 0px 0px 5px;
}
.offline
{
    color: #ff6633;
}
.online
{
    color: #ff6633;
}
#e505
{
    background-image: url('images/errors/505.png');
    width: 396px;
    height: 173px;
}
#e404
{
    background-image: url('images/errors/404.png');
    width: 396px;
    height: 173px;
}
#server
{
    background-image: url('images/stats/server.png');
    width: 70px;
    height: 59px;
}
#serverStats
{
    background-image: url('images/stats/servers.png');
    width: 100px;
    height: 195px;
}
#serverBox
{
    background-image: url('images/stats/box.png');
    width: 100px;
    height: 195px;
}
#more
{
    background-image: url('images/more.png');
    width: 25px;
    height: 14px;
}
#download
{
    background-image: url('images/template/download.png');
    width: 139px;
    height: 67px;
}
#downloads
{
    -moz-border-radius: 0px;
    background: none;
    border: 0px;
    background-image: url('images/template/downloads_bg.png');
    background-position:top;
    height: 108px;
    padding: 30px 10px 0px 25px;	
    background-repeat: no-repeat;

}
#download1
{
    background-image: url('images/template/download1.png');
    width: 139px;
    height: 67px;
}
fieldset#downloads1
{
    -moz-border-radius: 0px;
    background: none;
    border: 0px;

    background-image: url('images/template/downloads_bg.png');
    background-position:center;
    height: 108px;
    padding: 30px 10px 0px 25px;	

}
.buttons
{
    border: 1px solid #290e07;
    background-color: #000000;
    opacity: 0.5;
    padding: 5px 5px 0px 5px;
    font-family: Arial;
    font-size: 11px;
    color: #796262;
}
.select1
{
    border: 1px solid #cc9966;
    background-color: #000000;
    opacity: 0.5;
    padding: 5px 5px 0px 5px;
    font-size: 11px;
    color: #cc9966;}
.terms{	border: 1px solid #290e07;
        background-color: #000000;
        opacity: 0.5;
        padding: 5px 5px 0px 5px;
        color: #a09898;
}
.l
{
    -moz-border-radius: 4px;
    border: 1px solid #cc9966;
    background-color: #000000;
    opacity: 0.5;
    width: 220px;
    height: 25px;
    padding: 5px 5px 0px 5px;
}
input#data
{
    -moz-border-radius: 4px;
    border: 1px solid #cc9966;
    background-color: #000000;
    opacity: 0.5;
    width: 220px;
    height: 25px;
    padding: 5px 5px 0px 5px;
}
#main
{
    width: 900px;
}
#tabs
{
    width: 900px;
    margin-bottom: -25px;
}
#tab
{
    text-align: center;
}
#header
{
    width: 900px;
    height: 352px;
    padding-top: 160px;
    padding-left: 500px;
    background-image: url('images/template/header.jpg'); 
}
#loginbox
{
    width: 272px;	
    height: 135px;
    background-image: url('images/template/login_box.png');
    background-repeat: no-repeat;
    padding-top: 5px;
}
#navbar
{
    width: 900px;
    height: 35px;
    background-image: url('images/template/navbar.jpg');
    vertical-align: middle;
    padding: 5px 80px 0px 80px;
}
#decoration
{
    width: 900px;
    height: 81px;
    background-image: url('images/template/decoration.jpg');
}
#content
{
    width: 900px;
    height: 409px;
    background-image: url('images/template/content_bg.jpg');
    background-repeat: no-repeat;
}
#smallContent
{
    width: 133px;	
    height: 386px;
    background-image: url('images/template/smallContent.png');
    background-repeat: no-repeat;
    padding: 15px 20px 0px 20px;
}
#bigContent
{
    width: 574px;
    height: 386px;
    background-image: url('images/template/bigContent.png');
    background-repeat: no-repeat;
    padding: 15px 20px 0px 20px;
}
#serverStats1
{
    background-image: url('images/stats/servers1.png');
    width: 96px;
    height: 381px;
}
#serverStats2
{
    background-image: url('images/stats/servers2.png');
    width: 90px;
    height: 482px;
}
#lightbox
{
    position: absolute;
    left: 4px; 
    width: 100%;
    z-index: 100;
    text-align: center; 
    line-height: 0;
}
#lightbox img
{ 
    width: auto; 
    height: auto;
}
#lightbox a img
{
    border: none;
}
#outerImageContainer
{ 
    position: relative;
    background-color: #100605;
    width: 250px; 
    height: 250px;
    margin: 0 auto; 
}
#imageContainer
{ 
    padding: 10px;
}
#loading
{ 
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0; 
}
#hoverNav
{
    position: absolute; 
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%;
    z-index: 10; 
}
#imageContainer>#hoverNav
{ 
    left: 0;
}
#hoverNav a
{ 
    outline: none;
}
#prevLink, #nextLink
{ 
    width: 49%;
    height: 100%;
    background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block;
}
#prevLink 
{
    left: 0;
    float: left;
}
#nextLink 
{ 
    right: 0;
    float: right;
}
#prevLink:hover, #prevLink:visited:hover 
{ 
    background: url(images/lightbox/prevlabel.gif) left 15% no-repeat;
}
#nextLink:hover, #nextLink:visited:hover 
{ 
    background: url(images/lightbox/nextlabel.gif) right 15% no-repeat; 
}
#bottomNavClose
{
    background: url(images/lightbox/closelabel.gif);
    width: 66px;
    height: 11px;
}
#imageDataContainer
{
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #100605;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto; 
    width: 100%; 
}
#imageData
{
    padding:0 10px; 
    color: #cc9933; 
}
#imageData #imageDetails
{
    width: 70%;
    float: left;
    text-align: left;
}
#imageData #caption
{ 
    font-weight: bold;
}
#imageData #numberDisplay
{ 
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}
#imageData #bottomNavClose
{
    width: 66px; 
    float: right;
    padding-bottom: 0.7em;
    outline: none;
}
#overlay
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90; 
    width: 100%; 
    height: 500px;
    background-color: #000; 
}
.style1 {color: #CC6600}