{% extends 'cfvMuWebBundle::wrapper.html.twig' %}
{% block title %} Guilds - Gamenation {% endblock %}
{% block content %}

    <br/>
    <div class="tmp_page_content">

        {# @cfvMuWebBundle/Resources/views/Character/table.html.twig #}
        <table width="100%" cellspacing=3 id="characters">
            <tr bgcolor='#1e120e'>
                <td style="text-align: center;width: 20px;">#</td>
                <td colspan="2">Name</td>
                <td style="text-align: center; width: 100px;">Master</td>
                <td style="text-align: center; width: 100px;">Members</td>
            </tr>

            {% if sql %}
                {% for i in sql %}
                    <tr bgcolor='#140b07'>
                        <td style="text-align: center;">{% if pagination is defined %}{{ loop.index0 + pagination.first }}{% else %}{{ loop.index }}{% endif %}</td>
                        <td style="width: 40px; height: 40px;" class="loading">
                            <img class="float" style="width: 40px; height: 40px;" src="{{ url('muweb_guild_img', {'name': i.name }) }}">
                        </td>
                        <td style="text-indent: 5px;">{{ i.name }}</td>
                        <td style="text-align: center; ">{{ i.master}} </td>
                        <td style="text-align: center; ">{{ i.no }} </td>
                    </tr>
                {% endfor %}

                {% if pagination is defined and pagination.pages > 1 %}
                    <tfoot class="pagination">
                        <tr>
                            <td colspan="9">
                                {% if pagination.start > 0  %}
                                    <a href="{{ url( 'muweb_guilds' ) }}">&laquo;</a>
                                    <a href="{{ url( 'muweb_guilds', query|merge({ 'page': pagination.start-1 }) ) }}">&lt;</a>
                                {% endif %}
                                {% for x in pagination.firstPage .. pagination.lastPage-1 %}

                                    {% if x == 0 %}
                                        <a href="{{ url( 'muweb_guilds' ) }}">{{ x+1 }}</a>
                                    {% else %}
                                        <a href="{{ url( 'muweb_guilds', query|merge({ 'page': x }) ) }}">{{ x+1 }}</a>
                                    {% endif %}                            
                                {% endfor %}

                                {% if pagination.start < pagination.pages-1  %}

                                    <a href="{{ url( 'muweb_guilds', query|merge({'page': pagination.start+1 }) ) }}"> &gt; </a>
                                    <a href="{{ url( 'muweb_guilds', query|merge({'page': pagination.pages-1 }) ) }}">&raquo;</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            {% else %} 

                <tr bgcolor='#140b07'>
                    <td colspan="9">
                        <div style="padding: 150px 0; text-align: center; font-size: 14px;">No guilds to list yet</div>
                    </td>
                </tr>
            {% endif %}
        </table>
        {% if at is defined and next is defined %}
        <!-- This page list was generated {{ at }} and it will be refreshed {{ next }}! -->
        {% endif %}

    </div>   
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}