{% extends 'cfvMuWebBundle::wrapper.html.twig' %}
{% block title %} Descarcari - Gamenation {% endblock %}
{% block content %}
    <div  class="title">Descarcari</div>
    <div class="tmp_page_content">
        
        <h2 class="title"><a href="#download-client" name="download-client" rel="nofollow">Client</a></h2>
        {% for i in client %}
        <fieldset id="downloads">
            <div class="bigger">{{ i.name }}</div>
            <div class="floatleft"> <b>Description:</b> {{ i.description }}<br />
                <b>Size:</b> {{ i.size }}<br />
            </div>
            <div class="floatright"> <a href="{{ i.link }}" id="download">&nbsp;</a></div>    
        </fieldset>
        {% endfor %}
        
        <h2 class="title"><a href="#download-x32" name="download-x32" rel="nofollow">Dependinte - x86 (32biti)</a> </h2>
        {% for i in x86 %}
        <fieldset id="downloads">
            <div class="bigger">{{ i.name }}</div>
            <div class="floatleft"> <b>Description:</b> {{ i.description }}<br />
                <b>Size:</b> {{ i.size }}<br />
            </div>
            <div class="floatright"> <a href="{{ i.link }}" id="download">&nbsp;</a></div>    
        </fieldset>
        {% endfor %}
        
        <h2 class="title"><a href="#download-x64" name="download-x64" rel="nofollow">Dependinte - x64 (64biti)</a> </h2>
        {% for i in x86 %}
        <fieldset id="downloads">
            <div class="bigger">{{ i.name }}</div>
            <div class="floatleft"> <b>Description:</b> {{ i.description }}<br />
                <b>Size:</b> {{ i.size }}<br />
            </div>
            <div class="floatright"> <a href="{{ i.link }}" id="download">&nbsp;</a></div>    
        </fieldset>
        {% endfor %}
        
    </div> 
{% endblock %}